h1{
    text-align: center;
    color: rgb(229, 232, 233);
}
#home{
    text-align: center;
}
button{
    color: rgb(255, 255, 255);
    font-size: 24px;
    width: 90%;
    height: 100px;
    background-color: rgb(80, 248, 33);
    border-color: rgb(19, 237, 63);
}
body{
    padding-top: 20px;
    background-color: rgb(17, 210, 213 );
}